* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
 
}

body{
    background-image: url(../img/background.jpg);
    background-size: cover;
    min-height: 100vh;
}

nav{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

nav > button{
    font-size: 2rem;
    padding: 1rem;
    border: none;
    color: var(--orange);
    appearance: none;
    cursor: pointer;
    background: none;
}

nav > button:hover{
    color:var(--light-pink);
}

:root{
    --light-pink: rgba(243, 195, 160,0.8);
    --orange: rgb(236, 74, 24);
}

h2,h1{
    color: var(--orange);
}

ul{
    list-style-type:none;
}

.home, .menu{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    gap: 2rem;
}

h1{
    font-size: 4rem;
}

.home > div, .menu > div, .contact > div{
    background-color: var(--light-pink);
    padding: 0.8rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    color:rgb(20, 13, 13);
    font-weight: bold;
    width: 28rem;
    margin: 0 auto;
    display: grid;
}

.menu > div{
    gap: 1rem;
}

.menu > div > ul{
    display: grid;
    gap: 0.2rem;
}

.home > div{
    gap: 0.5rem;
}

.contact > div{
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}

.contact > div > div{
    display: grid;
    gap: 0.5rem;
}

.menu-title,.menu-rate{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    justify-content:space-between;
}