:root{
    --light-pink: rgb(236,212,195);
    --orange: rgb(236, 74, 24);
}

body{
    text-align: center;
    margin: none;
}

ul li{
    list-style-type:none;
}

.home{
    display: grid;
    justify-content: center;
}

.home > h1{
    font-size: 4rem;
    background-color: var(--light-pink);
    color: var(--orange);
}

.intro{
    width: 30rem;
}